.container-fluid {
	width: 100%;
	padding: 0;
}

.navbar {
	margin-bottom: 0;
}

.heading {
	text-align: center;
	padding-top: 100px;
	margin-bottom: 100px;
}

.center-block {
	margin-left: auto;
	margin-right: auto;
}

.col-lg-4 {
	text-align: center;
}
